
.frame{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame {
  background-color:#ddc;
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;


    background-color: #9a8b70;
    border-bottom-color: #c58f3c;
    border-left-color: #ad7e36;
    border-radius: 2px;
    border-right-color: #ad7e36;
    border-top-color: #8a652d;



  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  padding:8vmin;
  position:relative;
  text-align:center;
}
.frame:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
.frame:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;

  }

.frame:after{
	content: '';
	position: absolute;
	top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
	/* width: 100%;
    height: 100%; */
    box-shadow: none;
	background: linear-gradient(rgba(116, 114, 114, 0.1), rgba(192, 192, 192, 0.3));
}

.portraitBG{
	background-color: #034f5c;
	padding: 10px;
	flex-grow: 1;
	background-image: url(./wallpaper.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
    background-repeat: repeat;
    background-size: 50%;
}

.portraitIMG{
    max-width: 400px;
    width: calc(100vw - 85px);
    height: auto;
}