.iconContainer{
    background-color: teal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.txtItem{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin: 10px;
    height: 80px;
    width: 80px;
}

.txtItem > img{
    width: 48px;
    height: 48px;
    margin: 5px;
    cursor: pointer;
}

.txtItem > span{
    cursor: pointer;
}

.txtItem:focus{
    outline: none;
}

.txtItem:focus > span {
    background: #000080;
    padding: 0px 5px;
}

.txtItem:focus > img{
    filter: sepia(90%) hue-rotate(175deg) saturate(6) brightness(0.9);
}